@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-9 col-xs-12">
        <div id="mainConent">
            <h3>
                <u>Ryan Wedoff</u>
            </h3>
            <img style="width: 150px; height: 150px" src="https://scontent-ort2-2.xx.fbcdn.net/v/t31.0-8/22096170_1825949924085131_5380851835920523673_o.jpg?oh=4774b9fb199c93d066c9f932b23cfe47&oe=5A64A2E2"
                 alt="Facebook Profile Picture of Ryan Wedoff" />

            <p><b>Home Town:</b> Arlington Heights, IL</p>
            <p><b>School:</b> University of Iowa</p>
            <p><b>Major:</b> Computer Science BS/MCS</p>
            <p><b>Jobs:</b></p>
            <ul>
                <li>Microsoft Software Engineer Intern</li>
                <li>Microsoft Student Partner | University of Iowa</li>
                <li>ACM President | University of Iowa</li>
                <li>Campus Activities Board Vice President of Business</li>
            </ul>
        </div>
    </div>
    <div id="sidecontent" class="col-sm-3 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Weird Facts About Ryan
            </div>
            <ul>
                <li>Ryan is Scuba Certified</li>
                <li>Ryan has a sailing license</li>
                <li>Ryan plays jazz trumpet</li>
            </ul>
        </div>
    </div>
</div>