@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Music";
}

<div class="row">
    <div class="col-sm-9 col-xs-12">
        <div id="mainConent">
            <h3>
                <u>Music</u>
            </h3>
            <h4>Ryan Playing Flugelhorn in the UI Latin Jazz Ensemble</h4>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/slsPp4c0bFc" frameborder="0" allowfullscreen></iframe>
            </div>
            <h4>Ryan Playing Hawkeye Marching Band</h4>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/LDljit3KwTg" frameborder="0" allowfullscreen></iframe>
            </div>
            <h4>Ryan Playing Trumpet in the Buffalo Grove High School Show Choir</h4>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/cTH5EfcOGik" frameborder="0" allowfullscreen></iframe>
            </div>
            <h4>Ryan Playing Trumpet in a High School Ska Band</h4>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/KI5tc0TMVwY" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div id="sidecontent" class="col-sm-3 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Current Music Groups
            </div>
            <ul>
                <li>Ryan is playing in the Johnson County Landmark Orchestra</li>
                <li>On holidays, Ryan plays in a brass group playing cheerful music</li>
            </ul>
        </div>
    </div>
</div>
