@{
    Page.Title = "Projects";
    Layout = "~/_SiteLayout.cshtml";
}

<div class="row">
    <div class="col-sm-9 col-xs-12">
        <div id="mainConent">
            <h3>
                <u>Projects</u>
            </h3>
            <p>Ryan has done many computer projects, ranging from web developement to mobile development, to OS work.</p>
            <p>Checkout Ryan's GitHub projects below or click <a href="www.github.com/rwedoff">here.</a></p>
            <img style="width: 150px; height: 150px" src="https://avatars0.githubusercontent.com/u/6679636?v=3&s=466"
                 alt="Facebook Profile Picture of Ryan Wedoff" />
            <br><br>

            <ul>
                <li><a href="https://github.com/rwedoff/KinectCSDisplay">Kinect Display Board</a></li>
                <li><a href="https://github.com/rwedoff/NAO-Remote">NAO Remove Android App</a></li>
                <li><a href="https://github.com/rwedoff/Recommendation-Systems-Project">Recommendation Systems Project</a></li>
            </ul>
        </div>
    </div>
    <div id="sidecontent" class="col-sm-3 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Projets Done at Work
            </div>
            <ul>
                <li>Microsoft: Custom Power BI Visuals for Dynamics NAV</li>
                <li>State Farm: EmberJS Web App</li>
            </ul>
        </div>
    </div>
</div>
